---
import dateFormat from "@/lib/utils/dateFormat";
import { humanize, slugify } from "@/lib/utils/textConverter";
import { FaUser } from "react-icons/fa6";
import ImageMod from "../ImageMod.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import type { CollectionEntry } from "astro:content";

type Post = CollectionEntry<"post">;

const posts = await getSinglePage("post");
---

<section class="section-sm pb-0">
  <div class="container">
    <div class="swiper featured-post-slider overflow-hidden">
      <div class="swiper-wrapper">
        {
          posts.map((post: Post) => (
            <div class="swiper-slide rounded-lg">
              <div class="featured-post">
                {post.data.images && (
                  <ImageMod
                    class="w-full rounded-lg featured-post-img aspect-video object-cover"
                    height={658}
                    width={1359}
                    src={post.data.images[0]}
                    alt={post.data.title}
                    format="webp"
                  />
                )}
                <div class="featured-post-overlay">
                  <div class="featured-post-overlay-content">
                    <h2>
                      <a href={`/post/${post.id}`}>{post.data.title}</a>
                    </h2>
                    <ul class="post-meta">
                      <li class="flex justify-center items-center meta-link">
                        <FaUser className="mr-2" />
                        <a href={`/author`} set:html={post.data.author} />
                      </li>
                      {post.data.date && (
                        <li class="meta-link">
                          Date : <span>{dateFormat(post.data.date)}</span>
                        </li>
                      )}
                      {post.data.categories && (
                        <li class="meta-link">
                          Categories :
                          {post.data.categories.map((c: string) => (
                            <a href={`/categories/${slugify(c)}`} class="ms-1">
                              {humanize(c)}
                            </a>
                          ))}
                        </li>
                      )}
                      {post.data.tags && (
                        <li class="meta-link">
                          Tags :
                          {post.data.tags.map((t: string) => (
                            <a href={`/tags/${slugify(t)}`} class="ms-1">
                              {humanize(t)}
                            </a>
                          ))}
                        </li>
                      )}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          ))
        }
      </div>

      <div class="swiper-nav swiper-button-prev" aria-label="navigation button">
        <svg
          stroke="currentColor"
          fill="currentColor"
          stroke-width="0"
          viewBox="0 0 16 16"
          height="1em"
          width="1em"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            fill-rule="evenodd"
            d="M11.354 1.646a.5.5 0 010 .708L5.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z"
            clip-rule="evenodd"></path></svg
        >
      </div>
      <div class="swiper-nav swiper-button-next" aria-label="navigation button">
        <svg
          stroke="currentColor"
          fill="currentColor"
          stroke-width="0"
          viewBox="0 0 16 16"
          height="1em"
          width="1em"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            fill-rule="evenodd"
            d="M4.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L10.293 8 4.646 2.354a.5.5 0 010-.708z"
            clip-rule="evenodd"></path></svg
        >
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>

<script>
  import { Swiper } from "swiper";
  import "swiper/css";
  import "swiper/css/pagination";
  import { Autoplay, Navigation, Pagination } from "swiper/modules";

  document.addEventListener("astro:page-load", () => {
    new Swiper(".featured-post-slider", {
      modules: [Pagination, Autoplay, Navigation],
      slidesPerView: 1,
      spaceBetween: 30,
      centeredSlides: true,
      loop: true,
      // autoplay: {
      //   delay: 2500,
      //   disableOnInteraction: false,
      // },
      navigation: {
        prevEl: ".swiper-button-prev",
        nextEl: ".swiper-button-next",
      },
      pagination: {
        el: ".swiper-pagination",
        type: "bullets",
        clickable: true,
      },
    });
  });
</script>
